@{
    ViewBag.Title = "Nos offres";
}

@section Menu {
    <ul>
        <li>
            @Html.ActionLink("Acceuil", "Index", "Home")
        </li>
        <li class="selected">
            @Html.ActionLink("Nos offres", "Index", "Offre")
        </li>
        <li>
            @Html.ActionLink("--", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("--", "Index", "Home")
        </li>
    </ul>
}

<div>
    <h2>Nos offres</h2>
    <p>
        . . .
    </p>
</div>
